.idea
created_zones.lua

node_modules
pnpm-debug.log*

/package/**/*.js
/package/**/*.js.map
/package/**/*.d.ts

/web/node_modules
/web/build

/c:/Users/eduar/Desktop/ox_lib/documentation
documentation/NPC_SYSTEM.md
ARCHITECTURE.md
documentation/SYSTEMS_OVERVIEW.md
imports/npc/examples.lua
